/* Global Colors */
$light-letu-blue:             #337ab7;
$dark-letu-blue:              #0E2C46;

/* Element Colors */
$body-background-color:       #16161c;
$footer-background-color:     #ffff00;
$content-background-color:    white;

$icons-sets-light-color:      #B86152;
$icons-info-light-color:      #8C9943;
$icons-sets-dark-color:       black;
$icons-info-dark-color:       black;

/* Font Colors */
$global-font-color-light:     white;
$global-font-color-dark:      $dark-letu-blue;

$menu-font-color-light:       white;
$menu-font-color-dark:        $dark-letu-blue;

$search-field-light-color:    $light-letu-blue;
$search-field-dark-color:     black;
