/* Element sizes */
$flank-menu-width:            16.6rem;
$header-height:               5rem;
$banner-height-mobile:        15rem;
$banner-height-desktop:       30rem;
$icons-height:                5rem;
$icons-border-width:          0.5rem;
$footer-height:               $header-height;


/* Element location */
$search-field-y-mobile:       -( $banner-height-mobile / 2 ) - 2rem;
$search-field-y-desktop:      -( $banner-height-desktop * ( 5 / 6 ) );
$icons-y-mobile:              $search-field-y-mobile + 10rem;
$icons-y-desktop:             $search-field-y-desktop + 10rem;

/* Width breaklines */
$break-mobile-xs:             320px;
$break-mobile-s:              520px;
$break-mobile-m:              690px;
$break-mobile-l:              856px;
$break-desktop-s:             1024px;
$break-desktop-m:             1400px;
$break-desktop-l:             1720px;
$break-desktop-xl:            2000px;

/* Height breaklines */
$break-mobile-m-height:       768px;
