/* line 12, ../sass/letulib.scss */
* {
  box-sizing: border-box;
}
@media screen and (min-width: 520px) {
  /* line 12, ../sass/letulib.scss */
  * {
    font-size: 50%;
  }
}

/* line 20, ../sass/letulib.scss */
.largeBanner {
  position: relative;
}

/* line 24, ../sass/letulib.scss */
.field {
  display: flex;
  position: absolute;
  margin: -20% auto;
  width: 70%;
  flex-direction: row;
  left: 15%;
  font-size: 0.8em;
  vertical-align: bottom;
  line-height: 1.4em;
}

/* line 36, ../sass/letulib.scss */
.field > input[type=search] {
  flex: 1;
  padding: 0.4em 0.4em 0.4em 0.4em;
  border: 0.2em solid #337ab7;
}

/* line 42, ../sass/letulib.scss */
.field > button {
  background-color: #337ab7;
  color: white;
  border: none;
  padding: 0em 1.0em 0em 1.0em;
}

/* line 49, ../sass/letulib.scss */
.field > button img {
  vertical-align: middle;
}

/* line 54, ../sass/letulib.scss */
:focus {
  outline: 0;
}

/* line 58, ../sass/letulib.scss */
.global {
  margin: 0 auto;
  max-width: 150rem;
  position: relative;
}

/* line 64, ../sass/letulib.scss */
.g-header {
  background: #0E2C46;
  position: relative;
  min-height: 8.5rem;
  padding-left: 1.0em;
  height: 100%;
}

/* line 72, ../sass/letulib.scss */
.g-header .container {
  position: static;
}

/* line 76, ../sass/letulib.scss */
.g-header a:hover {
  color: white;
}

/* line 80, ../sass/letulib.scss */
.g-header h1 {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media screen and (min-width: 520px) {
  /* line 80, ../sass/letulib.scss */
  .g-header h1 {
    margin-left: 0;
    padding-top: 1.8rem;
  }
}
@media screen and (min-width: 856px) {
  /* line 80, ../sass/letulib.scss */
  .g-header h1 {
    text-align: left;
    float: left;
  }
}

/* line 97, ../sass/letulib.scss */
.g-nav {
  display: none;
  padding-bottom: 2.4rem;
}
@media screen and (min-width: 856px) {
  /* line 97, ../sass/letulib.scss */
  .g-nav {
    display: block;
    float: left;
    width: 25%;
  }
}

/* line 108, ../sass/letulib.scss */
.g-nav section {
  margin: 0.9rem 0;
}

/* line 112, ../sass/letulib.scss */
.g-nav h2 {
  font-size: 1.0em;
  font-weight: 300;
  color: #dadcde;
  margin: 0 0 0.6rem;
  padding: 2.4rem 1.8rem 1rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

/* line 122, ../sass/letulib.scss */
.g-nav ul {
  list-style: none;
  padding: 0.4rem 0;
}

/* line 127, ../sass/letulib.scss */
.g-nav li {
  position: relative;
  color: #dadcde;
  top: 50%;
  font-size: 2.0rem;
}

/* line 134, ../sass/letulib.scss */
.g-nav li a {
  display: block;
  color: inherit;
  padding: 0 1.8rem 0 5.4rem;
  line-height: 3.4rem;
  position: relative;
}

/* line 143, ../sass/letulib.scss */
.g-nav li a span {
  font-size: 0.95em;
  position: absolute;
  left: 1.8rem;
  margin-top: 0.35em;
  width: 2rem;
  padding-left: 0.6rem;
}

/* line 152, ../sass/letulib.scss */
.g-nav li a span.right {
  margin-left: 0.4rem;
  margin-right: 0;
  display: none;
}

/* line 158, ../sass/letulib.scss */
.g-nav .guides li a span {
  color: #c0b18c;
}

/* line 162, ../sass/letulib.scss */
.g-nav .info li a span {
  color: #337ab7;
}

/* line 166, ../sass/letulib.scss */
.g-nav li a:hover {
  color: white;
}

/* line 171, ../sass/letulib.scss */
.content {
  background: white;
  z-index: 1000;
}
@media screen and (min-width: 856px) {
  /* line 171, ../sass/letulib.scss */
  .content {
    width: 75%;
    float: right;
    position: relative;
  }
}

/* line 182, ../sass/letulib.scss */
.content ul {
  list-style: none;
}

@media screen and (max-width: 520px) {
  /* line 186, ../sass/letulib.scss */
  .listMenu ul {
    list-style: none;
    margin-left: 25px;
    margin-bottom: 25px;
  }
}

/* line 195, ../sass/letulib.scss */
.content .listMenu {
  padding-left: 4rem;
}

/* line 199, ../sass/letulib.scss */
.main-icons img {
  float: left;
  width: 32px;
  height: 32px;
  margin: 0.8rem 1rem 0 0;
}
@media screen and (min-width: 520px) {
  /* line 199, ../sass/letulib.scss */
  .main-icons img {
    margin: 0.4rem 1rem 0 0;
  }
}
@media screen and (min-width: 690px) {
  /* line 199, ../sass/letulib.scss */
  .main-icons img {
    float: center;
    width: 128px;
    height: 128px;
  }
}

/* line 216, ../sass/letulib.scss */
.main-icons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: 1rem;
}
@media screen and (min-width: 690px) {
  /* line 216, ../sass/letulib.scss */
  .main-icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 1rem;
  }
}

/* line 233, ../sass/letulib.scss */
.main-icons li {
  padding: 0.2rem 1.0rem 0.2rem 1.0rem;
  float: center;
  margin: 1.8rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
@media screen and (min-width: 690px) {
  /* line 233, ../sass/letulib.scss */
  .main-icons li {
    padding: 0;
    float: left;
    margin: 0;
    background: none !important;
    display: block;
    width: 33%;
  }
}

/* line 253, ../sass/letulib.scss */
.main-icons li a {
  display: block;
  text-align: left;
  padding: 0.3rem 3.0rem 0.9rem 3.0rem;
  vertical-align: center;
  color: #0e2c46;
  font-size: 120%;
  font-family: 'Avenir LT W01 65 Medium', Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
@media screen and (max-width: 520px) {
  /* line 253, ../sass/letulib.scss */
  .main-icons li a {
    font-size: 100%;
    line-height: 100%;
  }
}
@media screen and (min-width: 690px) {
  /* line 253, ../sass/letulib.scss */
  .main-icons li a {
    text-align: center;
    font-size: 150%;
    line-height: 100%;
    text-transform: uppercase;
    vertical-align: center;
  }
}

/* line 276, ../sass/letulib.scss */
.main-icons .sets > li {
  background: #ba614f;
}

/* line 280, ../sass/letulib.scss */
.main-icons .info > li {
  background: #8c9a3c;
}

/* line 284, ../sass/letulib.scss */
.footer {
  z-index: 1000;
  bottom: 0;
  position: relative;
  max-height: 10%;
  color: #dadcde;
  background: url("images/mall_background.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 297, ../sass/letulib.scss */
.footer_content span {
  font-size: 1.0rem;
}
@media screen and (min-width: 690px) {
  /* line 297, ../sass/letulib.scss */
  .footer_content span {
    font-size: 2.0rem;
  }
}

/* line 305, ../sass/letulib.scss */
.footer_content {
  background: rgba(145, 142, 112, 0.85);
  margin: auto;
  text-align: left;
  padding: 5.0rem 0 6.0rem 0;
  letter-spacing: 1px;
  overflow: hidden;
}

/* line 314, ../sass/letulib.scss */
.footer_content a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

/* line 320, ../sass/letulib.scss */
.footer_content ul {
  font-size: 1.6rem;
}
@media screen and (min-width: 690px) {
  /* line 320, ../sass/letulib.scss */
  .footer_content ul {
    font-size: 2.0rem;
  }
}

/* line 327, ../sass/letulib.scss */
.footer_content a:hover {
  text-decoration: none;
}

/* line 331, ../sass/letulib.scss */
.footer_content a.link-with-children:hover {
  background-color: transparent;
}

/* line 335, ../sass/letulib.scss */
.footer_content a.btt {
  display: block;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -2.5rem;
  padding: 0px;
  width: 5rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 357, ../sass/letulib.scss */
.footer_content a.btt i {
  display: block;
  font-size: 1.8rem;
}

/* line 363, ../sass/letulib.scss */
.footer_content a.btt:hover {
  color: #fff !important;
  background: transparent !important;
}

/* line 368, ../sass/letulib.scss */
.footer_column {
  padding: 0 2rem;
  width: 33.33%;
  float: left;
}

/* line 374, ../sass/letulib.scss */
.footer_column_1 {
  margin-top: 0rem;
  text-align: right;
}

/* line 379, ../sass/letulib.scss */
.footer_column_2 {
  margin-top: 5rem;
  top: 50%;
  text-align: center;
}

/* line 385, ../sass/letulib.scss */
.footer_column_3 {
  margin-top: 0rem;
  text-align: left;
}

/* line 390, ../sass/letulib.scss */
.footer ul {
  list-style: none;
}

/* line 394, ../sass/letulib.scss */
.footer li {
  padding-bottom: 0.8rem;
}
