@media screen and (min-width: 520px) {
  /* line 2, ../sass/letulibresponsive.scss */
  .global .container {
    padding: 0 5.4rem;
  }

  /* line 6, ../sass/letulibresponsive.scss */
  .global .container > .corner {
    right: 5.4rem;
  }

  /* line 10, ../sass/letulibresponsive.scss */
  .global .container > .corner.left {
    left: 5.4rem;
  }
}
@media screen and (min-width: 856px) {
  /* line 16, ../sass/letulibresponsive.scss */
  .g-header .nav-trigger {
    display: none;
  }

  /* line 20, ../sass/letulibresponsive.scss */
  .g-header .user-nav, .g-header .login {
    position: relative;
    float: right;
    top: auto;
    right: auto;
    margin-right: -1.8rem;
  }

  /* line 28, ../sass/letulibresponsive.scss */
  .g-header .user-nav h2 {
    display: block;
    width: 20rem;
    position: absolute;
    top: 0;
    left: -20rem;
    padding: 2rem 0;
    font-size: 1.6rem;
    color: #8096b3;
    text-align: right;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  /* line 46, ../sass/letulibresponsive.scss */
  .g-header .user-nav .menu {
    right: 50%;
    margin-right: -6.8rem;
  }

  /* line 51, ../sass/letulibresponsive.scss */
  .g-nav li .subitem {
    width: 24rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -24rem;
  }

  /* line 59, ../sass/letulibresponsive.scss */
  .g-nav li.has-subitem.current > a:after {
    border-width: 1.8rem 1.4rem 1.8rem 0;
    border-bottom-color: transparent;
    border-right-color: #212326;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
  }

  /* line 70, ../sass/letulibresponsive.scss */
  .g-nav li .subitem.number {
    width: 20rem;
    margin-right: -20rem;
  }

  /* line 75, ../sass/letulibresponsive.scss */
  .g-nav li .form .message textarea, .g-nav li .form .message pre {
    max-height: 24rem;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1024px) {
  /* line 83, ../sass/letulibresponsive.scss */
  .global {
    padding: 0 20.0rem;
  }

  /* line 88, ../sass/letulibresponsive.scss */
  .g-header {
    padding: 2.0rem 0 0;
  }

  /* line 92, ../sass/letulibresponsive.scss */
  .g-header h1 {
    margin: 1.05rem 0 0 1.05rem;
    position: relative;
    padding: 0;
  }

  /* line 98, ../sass/letulibresponsive.scss */
  .g-header h1 img {
    height: 2.35rem;
  }

  /* line 102, ../sass/letulibresponsive.scss */
  .g-header .user-nav h2 {
    padding-top: 1.8rem;
  }

  /* line 106, ../sass/letulibresponsive.scss */
  .g-header .login, .g-header .user-nav > a {
    padding-bottom: 1.4rem;
    padding-top: 1.7rem;
  }

  /* line 111, ../sass/letulibresponsive.scss */
  .content {
    width: 100%;
    float: none;
  }

  /* line 116, ../sass/letulibresponsive.scss */
  .g-nav {
    display: block;
    float: none;
    width: auto;
    padding: 0;
  }

  /* line 123, ../sass/letulibresponsive.scss */
  .g-nav ul {
    padding: 0.6rem 0;
  }

  /* line 127, ../sass/letulibresponsive.scss */
  .g-nav .flank {
    position: absolute;
    top: 0;
    width: 20.0rem;
  }

  /* line 134, ../sass/letulibresponsive.scss */
  .g-nav .flank .inner {
    position: fixed;
    width: 20.0rem;
  }

  /* line 139, ../sass/letulibresponsive.scss */
  .g-nav .flank.left {
    left: 0;
    text-align: right;
  }

  /* line 144, ../sass/letulibresponsive.scss */
  .g-nav .flank.left li a {
    padding: 0 4.8rem 0 2.4rem;
  }

  /* line 148, ../sass/letulibresponsive.scss */
  .g-nav .flank.left li a span {
    left: auto;
    right: 2.4rem;
  }

  /* line 153, ../sass/letulibresponsive.scss */
  .g-nav .flank.right {
    right: 0;
  }

  /* line 157, ../sass/letulibresponsive.scss */
  .g-nav .flank.right li a {
    padding: 0 2.4rem 0 4.8rem;
  }

  /* line 163, ../sass/letulibresponsive.scss */
  .g-nav .flank.right li a span {
    left: 1.0rem;
  }

  /* line 167, ../sass/letulibresponsive.scss */
  .g-nav .flank.right .contact li a span {
    left: 2.2rem;
  }

  /* line 171, ../sass/letulibresponsive.scss */
  .g-nav h2 {
    padding: 4.7rem 2.4rem 1.4rem;
  }

  /* line 175, ../sass/letulibresponsive.scss */
  .g-nav li .subitem {
    left: auto;
    right: 20.0rem;
    margin: 0;
  }

  /* line 181, ../sass/letulibresponsive.scss */
  .g-nav li .subitem.number {
    margin: 0;
  }

  /* line 185, ../sass/letulibresponsive.scss */
  .g-nav li.has-subitem.current > a:after {
    border-width: 2rem 0 2rem 1.4rem;
    border-right-color: transparent;
    border-left-color: #212326;
    left: 0;
    right: auto;
  }
}
@media screen and (max-width: 1023px) and (max-height: 840px) {
  /* line 195, ../sass/letulibresponsive.scss */
  .g-nav .formats li {
    display: none;
  }

  /* line 199, ../sass/letulibresponsive.scss */
  .g-nav .formats #all {
    display: block;
  }
}
@media screen and (min-width: 1024px) and (max-height: 820px) {
  /* line 205, ../sass/letulibresponsive.scss */
  .g-nav .feedback li .subitem {
    bottom: 0;
    position: absolute;
    top: auto;
  }
}
@media screen and (min-width: 1400px) and (max-height: 932px) {
  /* line 213, ../sass/letulibresponsive.scss */
  .g-nav .feedback li .subitem {
    bottom: 0;
    position: absolute;
    top: auto;
  }
}
@media screen and (min-width: 1720px) and (max-height: 1020px) {
  /* line 221, ../sass/letulibresponsive.scss */
  .g-nav .feedback li .subitem {
    bottom: 0;
    position: absolute;
    top: auto;
  }
}
@media screen and (min-width: 2000px) and (max-height: 1100px) {
  /* line 229, ../sass/letulibresponsive.scss */
  .g-nav .feedback li .subitem {
    bottom: 0;
    position: absolute;
    top: auto;
  }
}
@media screen and (min-width: 1024px) and (max-height: 504px) {
  /* line 237, ../sass/letulibresponsive.scss */
  .g-nav .flank .inner {
    position: relative;
  }
}
@media screen and (min-width: 1400px) and (max-height: 566px) {
  /* line 243, ../sass/letulibresponsive.scss */
  .g-nav .flank .inner {
    position: relative;
  }
}
@media screen and (min-width: 1720px) and (max-height: 605px) {
  /* line 249, ../sass/letulibresponsive.scss */
  .g-nav .flank .inner {
    position: relative;
  }
}
@media screen and (min-width: 2000px) and (max-height: 652px) {
  /* line 255, ../sass/letulibresponsive.scss */
  .g-nav .flank .inner {
    position: relative;
  }
}
