/* Global Colors */
$light-text:                  #aaaaaa;
$dark-text:                   #0a0a0a;
$light-letu-blue:             #337ab7;
$dark-letu-blue:              #0E2C46;

/* Element Colors */
$body-background-color:       #16161c;
$footer-background-color:     #fafafc;
$content-background-color:    white;

$icons-resources-light-color: #B86152;
$icons-info-light-color:      #8C9943;
$icons-resources-dark-color:  black;
$icons-info-dark-color:       black;

/* Font Colors */
$global-font-color-light:     white;
$global-font-color-dark:      $dark-letu-blue;

$menu-font-color-light:       $light-text;
$menu-font-color-dark:        $dark-letu-blue;
$menu-font-color-hover:       white;

$search-field-light-color:    $light-letu-blue;
$search-field-dark-color:     black;

$g-footer-light-color:        $light-text;
$g-footer-dark-color:         $dark-text;
