/* Global Colors */
/* Element Colors */
/* Font Colors */
/* Element sizes */
/* Element location */
/* Element attributes */
/* Width breaklines */
/* Height breaklines */
/* Local */
/* Images */
/*** all ***/
/* line 6, ../sass/lib.scss */
* { box-sizing: border-box; max-height: 768px; }

/* line 12, ../sass/lib.scss */
body { background: #16161c; color: white; line-height: 1; font-family: 'Avenir LT W01 35 Light', Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif; position: relative; }

/* line 20, ../sass/lib.scss */
.l-header { width: 100%; height: 50px; top: 0; position: absolute; }

/*** global ***/
/* line 28, ../sass/lib.scss */
.global { margin: 0 auto; position: absolute; width: 100%; height: 100%; /* global size */ /*** global g-nav ***/ /*** global content ***/ }
@media screen and (max-width: 767px) { /* line 28, ../sass/lib.scss */
  .global { margin-top: -50px; } }
@media screen and (min-width: 1024px) { /* line 28, ../sass/lib.scss */
  .global { padding: 0 23rem; } }
/* line 46, ../sass/lib.scss */
.global .g-nav { padding-bottom: 2.4rem; padding: 0; float: none; width: auto; display: none; /*** global g-nav flank ***/ /*** global g-nav flank left ***/ /*** global g-nav flank right ***/ }
@media screen and (min-width: 856px) { /* line 46, ../sass/lib.scss */
  .global .g-nav { display: block; float: left; width: 25%; } }
@media screen and (min-width: 1024px) { /* line 46, ../sass/lib.scss */
  .global .g-nav { display: block; } }
/* line 64, ../sass/lib.scss */
.global .g-nav .flank { top: 0; height: 100%; text-align: left; z-index: 1000; /*** global g-nav inner ***/ }
@media screen and (min-width: 1024px) { /* line 64, ../sass/lib.scss */
  .global .g-nav .flank { position: absolute; top: 0; width: 23rem; } }
/* line 77, ../sass/lib.scss */
.global .g-nav .flank .inner { /*** global g-nav h2 ***/ /*** global g-nav ul ***/ }
@media screen and (min-width: 1024px) { /* line 77, ../sass/lib.scss */
  .global .g-nav .flank .inner { position: fixed; width: 23rem; } }
/* line 85, ../sass/lib.scss */
.global .g-nav .flank .inner h2 { text-transform: uppercase; font-size: 1.0em; font-weight: 300; color: #aaaaaa; margin: 0 0 0.6rem; padding: 2.4rem 1.8rem 1rem; border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1); }
/* line 96, ../sass/lib.scss */
.global .g-nav .flank .inner ul { list-style: none; padding: 0.6rem 0; /*** global g-nav li ***/ }
/* line 102, ../sass/lib.scss */
.global .g-nav .flank .inner ul li { position: relative; color: #aaaaaa; top: 100%; /*** global g-nav a ***/ /*** global g-nav a:hover ***/ }
/* line 109, ../sass/lib.scss */
.global .g-nav .flank .inner ul li a { display: block; color: inherit; padding: 0 4.4rem 0 4.4rem; line-height: 4.0rem; position: relative; /*** global g-nav a span ***/ }
/* line 117, ../sass/lib.scss */
.global .g-nav .flank .inner ul li a span { margin-top: 1.2rem; position: absolute; left: 1.6rem; right: auto; line-height: 100%; }
/* line 127, ../sass/lib.scss */
.global .g-nav .flank .inner ul li a:hover { color: white; }
/* line 136, ../sass/lib.scss */
.global .g-nav .flank.left { left: 0; }
@media screen and (min-width: 1024px) { /* line 136, ../sass/lib.scss */
  .global .g-nav .flank.left { text-align: right; } }
@media screen and (min-width: 1024px) { /* line 141, ../sass/lib.scss */
  .global .g-nav .flank.left a { text-align: right; } }
@media screen and (min-width: 1024px) { /* line 146, ../sass/lib.scss */
  .global .g-nav .flank.left span { left: auto !important; right: 1.6rem !important; } }
/* line 155, ../sass/lib.scss */
.global .g-nav .flank.right { right: 0; }
/* line 161, ../sass/lib.scss */
.global .main.content { background: white; z-index: 10; width: 100%; min-height: 768px; height: 100%; float: none; overflow: hidden; /*** global g-header ***/ /*** global largeBanner ***/ /*** global body-wrapper ***/ }
@media screen and (max-width: 767px) { /* line 161, ../sass/lib.scss */
  .global .main.content { overflow: auto; padding-bottom: 100px; } }
@media screen and (min-width: 856px) { /* line 161, ../sass/lib.scss */
  .global .main.content { width: 75%; float: right; position: relative; } }
@media screen and (min-width: 1024px) { /* line 161, ../sass/lib.scss */
  .global .main.content { width: 100%; float: none; min-height: 768px; } }
/* line 186, ../sass/lib.scss */
.global .main.content .g-header { height: 8.6rem; width: 100%; background-color: #0E2C46; padding: 1.0rem 1.0rem 1.0rem 0; text-transform: uppercase; margin-top: 0; position: relative; }
/* line 204, ../sass/lib.scss */
.global .main.content .g-header .g-title { color: #337ab7; width: 60%; float: left; }
/* line 211, ../sass/lib.scss */
.global .main.content .g-header .g-title h1 { padding-left: 13px; font-size: 1.8rem; }
@media screen and (min-width: 767px) and (max-width: 1400px) { /* line 211, ../sass/lib.scss */
  .global .main.content .g-header .g-title h1 { font-size: 2.4rem; } }
@media screen and (min-width: 1400px) { /* line 211, ../sass/lib.scss */
  .global .main.content .g-header .g-title h1 { font-size: 2.8rem; } }
/* line 224, ../sass/lib.scss */
.global .main.content .g-header .g-displays { float: right; vertical-align: middle; width: 40%; display: block; text-align: right; }
/* line 231, ../sass/lib.scss */
.global .main.content .g-header .g-displays .g-hours-display { color: #aaaaaa; font-size: 1.2rem; }
@media screen and (min-width: 767px) { /* line 231, ../sass/lib.scss */
  .global .main.content .g-header .g-displays .g-hours-display { font-size: 1.4rem; } }
/* line 239, ../sass/lib.scss */
.global .main.content .g-header .g-displays .g-message-display { padding: 1rem 0; color: #aaaaaa; }
/* line 245, ../sass/lib.scss */
.global .main.content .g-header:after { content: " "; display: block; clear: both; }
/* line 252, ../sass/lib.scss */
.global .main.content .large-banner { display: inline-block; width: 100%; position: relative; height: 15rem; }
@media screen and (min-width: 767px) { /* line 252, ../sass/lib.scss */
  .global .main.content .large-banner { height: 36.6rem; } }
/* line 263, ../sass/lib.scss */
.global .main.content .large-banner .banner-image { height: 100%; overflow: hidden; position: relative; background: url("http://placehold.it/1280x600/aaaaaa/333333"); background-size: cover; background-repeat: no-repeat; }
/* line 273, ../sass/lib.scss */
.global .main.content .large-banner .search-field { display: flex; position: absolute; width: 70%; flex-direction: row; left: 15%; font-size: 0.8em; vertical-align: bottom; line-height: 1.4em; border: 0.5rem solid #337ab7; box-shadow: -5px 7px black; margin: -9.5rem auto; }
@media screen and (min-width: 767px) { /* line 273, ../sass/lib.scss */
  .global .main.content .large-banner .search-field { margin: -30rem auto; } }
/* line 292, ../sass/lib.scss */
.global .main.content .large-banner .search-field > input:focus { outline: none; color: black; }
/* line 297, ../sass/lib.scss */
.global .main.content .large-banner .search-field > input[type=search] { flex: 1; padding: 0.4em 0.4em 0.4em 0.4em; border: 0.2em solid #337ab7; }
/* line 303, ../sass/lib.scss */
.global .main.content .large-banner .search-field > button { background-color: #337ab7; color: white; border: none; padding: 0em 1.0em 0em 1.0em; }
/* line 310, ../sass/lib.scss */
.global .main.content .large-banner .search-field > button img { vertical-align: middle; }
/* line 316, ../sass/lib.scss */
.global .main.content .body-wrapper { z-index: 20; position: relative; width: 100%; padding: 0; margin: 0.5rem auto; /*** global body-wrapper main-icons ***/ /*** global body-wrapper main-icons listMenu ***/ }
@media screen and (min-width: 767px) { /* line 316, ../sass/lib.scss */
  .global .main.content .body-wrapper { margin: -22rem auto; background: none; } }
@media screen and (min-width: 856px) { /* line 316, ../sass/lib.scss */
  .global .main.content .body-wrapper { position: absolute; } }
/* line 331, ../sass/lib.scss */
.global .main.content .body-wrapper .main-icons { padding: 1.0rem; margin-left: -4rem; overflow: hidden; /*** global body-wrapper main-icons resources ***/ /*** global body-wrapper main-icons info ***/ }
/* line 338, ../sass/lib.scss */
.global .main.content .body-wrapper .main-icons .resources li { border: 0.5rem solid #B86152; box-shadow: -5px 7px black; }
/* line 342, ../sass/lib.scss */
.global .main.content .body-wrapper .main-icons .resources li:hover { background: #B86152; }
/* line 348, ../sass/lib.scss */
.global .main.content .body-wrapper .main-icons .info li { border: 0.5rem solid #8C9943; box-shadow: -5px 7px black; }
/* line 352, ../sass/lib.scss */
.global .main.content .body-wrapper .main-icons .info li:hover { background: #8C9943; }
/* line 357, ../sass/lib.scss */
.global .main.content .body-wrapper .main-icons ul { justify-content: center; text-align: center; margin-bottom: 3.0rem; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; }
@media screen and (min-width: 767px) { /* line 357, ../sass/lib.scss */
  .global .main.content .body-wrapper .main-icons ul { margin-bottom: 0; display: flex; background: none !important; } }
/* line 372, ../sass/lib.scss */
.global .main.content .body-wrapper .main-icons ul li { margin: 1rem; color: #0E2C46; background: white; float: center; height: 5rem; line-height: 4rem; text-align: left; padding-left: 0.5rem; /* Effects */ overflow: hidden; }
@media screen and (min-width: 767px) { /* line 372, ../sass/lib.scss */
  .global .main.content .body-wrapper .main-icons ul li { float: left; margin: 2rem; display: block; width: 33%; } }
/* line 398, ../sass/lib.scss */
.global .main.content .body-wrapper .main-icons ul li a { vertical-align: center; color: #0E2C46; float: left; padding: 0; display: block; text-align: left; text-decoration: none; margin: 0.6rem; font-size: 1.6rem; line-height: 100%; text-transform: uppercase; vertical-align: center; }
/* line 411, ../sass/lib.scss */
.global .main.content .body-wrapper .main-icons ul li a img { margin: 0; margin-right: 1rem; }
@media screen and (min-width: 767px) and (max-width: 1400px) { /* line 398, ../sass/lib.scss */
  .global .main.content .body-wrapper .main-icons ul li a { font-size: 1.2rem; } }
@media screen and (min-width: 1720px) { /* line 398, ../sass/lib.scss */
  .global .main.content .body-wrapper .main-icons ul li a { font-size: 1.4rem; } }
/* line 435, ../sass/lib.scss */
.global .main.content .body-wrapper .page.container { color: black; background-color: white; position: relative; height: 100%; top: 0rem; padding: 0; }
@media screen and (min-width: 767px) { /* line 435, ../sass/lib.scss */
  .global .main.content .body-wrapper .page.container { padding: 0 5rem; } }
/* line 449, ../sass/lib.scss */
.global .main.content .body-wrapper .page.container .page.content { background: none; float: none; margin: 0; padding: 1rem; width: 100%; padding: 0 5rem; }
/* line 461, ../sass/lib.scss */
.global .main.content .body-wrapper .page.container .page.content .page.menu { width: 100%; display: block; }
@media screen and (min-width: 767px) { /* line 461, ../sass/lib.scss */
  .global .main.content .body-wrapper .page.container .page.content .page.menu { display: inline-flex; } }
/* line 468, ../sass/lib.scss */
.global .main.content .body-wrapper .page.container .page.content .page.menu .page.column { display: block; width: 100%; }
@media screen and (min-width: 767px) { /* line 468, ../sass/lib.scss */
  .global .main.content .body-wrapper .page.container .page.content .page.menu .page.column { width: 50%; } }
/* line 474, ../sass/lib.scss */
.global .main.content .body-wrapper .page.container .page.content .page.menu .page.column h2 { font-size: 2.2rem; }
/* line 477, ../sass/lib.scss */
.global .main.content .body-wrapper .page.container .page.content .page.menu .page.column .page.list { line-height: 2.4rem; }

/*** footer ***/
/* line 489, ../sass/lib.scss */
.g-footer { background: #fafafc; color: #0E2C46; position: relative; width: 100%; height: 8.6rem; padding-bottom: 100px; /*** footer footer-content ***/ }
@media screen and (min-width: 856px) and (max-width: 1024px) { /* line 489, ../sass/lib.scss */
  .g-footer { width: 75%; float: right; } }
@media screen and (min-width: 1024px) { /* line 489, ../sass/lib.scss */
  .g-footer { z-index: 1000; } }
/* line 511, ../sass/lib.scss */
.g-footer .g-footer-content { padding: 1rem; position: absolute; width: 100%; display: inline; }
/* line 517, ../sass/lib.scss */
.g-footer .g-footer-content .social-media { width: 30%; float: left; }
/* line 520, ../sass/lib.scss */
.g-footer .g-footer-content .social-media span { vertical-align: middle; color: #aaaaaa; font-size: 3.0rem; padding: 0 1rem; }
/* line 527, ../sass/lib.scss */
.g-footer .g-footer-content .contact-us { float: left; font-size: 0.8rem; display: inline; width: 40%; }
/* line 534, ../sass/lib.scss */
.g-footer .g-footer-content .contact-us .letu-address { float: left; padding-right: 2.0rem; }
/* line 539, ../sass/lib.scss */
.g-footer .g-footer-content .contact-us .letu-contact { display: inline; float: left; }
/* line 544, ../sass/lib.scss */
.g-footer .g-footer-content .website-policy { width: 30%; float: right; text-align: right; }
/* line 548, ../sass/lib.scss */
.g-footer .g-footer-content .website-policy a { vertical-align: baseline; }

/* line 556, ../sass/lib.scss */
.l-footer { width: 100%; height: 100%; top: 0; position: absolute; }

/* line 563, ../sass/lib.scss */
.vertical-line { border-left: 1px solid #eee; padding: 1rem; float: left; }
